<a href="https://colab.research.google.com/github/nepal543/DataScienceBootcamp/blob/main/Class%20Notes/OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Object oriented programming

In [ ]:
int1=1947 # int1 is object. int1 is class of integer
print(type(int1))

<class 'int'>

In [ ]:
int1=3.145
print(type(int1))

<class 'float'>

In [ ]:
class audi999:
  pass
obj1=audi999()
print(type(obj1))

<class '__main__.audi999'>

In [ ]:
class university_student: ## creating class and creating object from that class. before pass is class, and after pass is object.
  def student_info(): ## student_info is methods, we can have number of methods inside the class.
    pass
obj1=university_student()

#### Pratice Question

In [ ]:
class Takeo:
  def employee_info():
    pass
  obj1=employee_info
  print(type(obj1))

<class 'function'>

In [ ]:
#####
class university_student:
  def __init__(self,fname,mname,lname,gender,email,contact):
   pass
obj1=university_student('amrita','sapkota',obj1,'female','sa.amrita502gmail.com',678544566)
print(type(obj1))

<class '__main__.university_student'>

In [ ]:
class university_student:
  def __init__(self,fname,mname,lname,gender,email,contact):
    self.fname=fname
    self.fname=mname
    self.lname=lname
    self.gender=gender
    self.email=email
    self.contact=contact
    print(self.fname,self.fname,self.lname,self.gender,self.email, self.contact)

In [ ]:
 obj1=university_student('amrita','sapkota''female','sa.amrita502gmail.com',678544566)

TypeError: ignored

In [ ]:

class Movie:
  def __init__(self,name,year,actor):
    self.name=name
    self.year=year
    self.actor=actor
    print(self.name,self.year,self.actor)
    #obj_1= Movie('Jailer',2023)

In [ ]:
obj_1= Movie('Jailer',2023,'Rajnikant')

Jailer 2023 Rajnikant

In [ ]:
class university_student:
  def __init__(self,fname,mname,lname,gender,email,contact):
    self.fname=fname
    self.fname=mname
    self.lname=lname
    self.gender=gender
    self.email=email
    self.contact=contact
    print(self.fname,self.fname,self.lname,self.gender,self.email, self.contact)
    def student_details(self):
      print(self.fname,self.mname,self.lname,self.gender,self.email, self.contact)
      pass

In [ ]:
obj1=university_student('amrita','nani','sapkota''female','sa.amrita502gmail.com',678544566)
pass

In [ ]:
obj1=student_details()
print(type(obj1))

In [ ]:
class Hospital_staff:
  def __init__(nurse,fname,mname,lname,gender,unit,schedule):
    nurse.fname=fname
    nurse.mname=mname
    nurse.lname=lname
    nurse.gender=gender
    nurse.unit=unit
    nurse.schedule=schedule
    print(nurse.fname,nurse.mname,nurse.lname,nurse.gender,nurse.unit, nurse.schedule)
    #def student_details(self):
      #print(self.fname,self.mname,self.lname,self.gender,self.email, self.contact)

In [ ]:
obj1=Hospital_staff('Amrita','nani','sapkota','female','ICU','weekly')

Amrita nani sapkota female ICU weekly

In [ ]:
class car:
  def __init__(self,name,model,fuel,cc,cylinders):
    self.name=name
    self.model=model
    self.fuel=fuel
    self.cc=cc
    self.cylinder=cylinders
  def car_details(self):
      print(self.name,self.model,self.fuel,self.cc,self.cylinders)

In [ ]:
obj2=car('Audo77',777,'electric',3500,12)
#

In [ ]:
obj2.car_details()

AttributeError: ignored

###Inheritance

In [ ]:
Class transportation():
Class Air(C:
pass
class water(transportation):
  pass
class road(transportation):
  pass
class wheeler2(land):
  pass
class wheeler3(land):
  pass
class wheeler4(land):
  pass
class wheeler 6(land):
  pass
class wheeler8(land):
  pass
class wheeler10 (land):
  pass
class wheeler12 (land):
  pass

In [ ]:
class communication():
 class pigeon():
  pass
class letter():
  pass
class paper_based(letter):
  pass
class electronic():
  pass
class electronic(fax):
  pass
class electronic(television):
  pass
class electronic(telephone):
  pass
class telephone(landline):
   pass
class telephone(satellite):
  pass
class telephone(mobile):
  pass
class mobile(anroid):
  pass
class mobile(iphone):
  pass
class mobile(windowsphone):
  pass

SyntaxError: ignored

Wednesday Aug 23

In [ ]:
###Multiple inheritance

class mother:
  def __init__(self):
    pass

class father:
  def __init__(self):
    pass

class daughter(mother, father):
  def __init__(self):
    pass

class son(mother, father):
  def __init__(self):
    pass

In [ ]:


class mother:
  def __init__(self, fname, age):
    self.firstname = fname
    self.age = age
    pass
  def printname(self):
    print('mother class': self.firstname, self.age):
class father:
  def __init__(self,school,friends)
  self.school=school
  self.friends=friends
   pass
    def printname(self):
      print('father class:',self.school,self.friends):
class daughter(mother,father):
  def __init__(self, fname, age,school,friends)
  self.fname=fname
  self.age=age
  pass
class son (mother,father):
  def __init__(self, fname, age,school,friends)
  self.fname=fname
  self.age=age
  obj1= daughter('amrita',28,'abc',sam)
  obj1.printname()

SyntaxError: ignored

In [ ]:
class BootcampX:
 BootcampX = "This is first bootcamp inside class BootcampX "
 def __init__(self):
    self.b1= "This my second bootcamp  inside function __init__ of class BootcampX"
    self.b2 = "Instance variable in class BootcampX"
    self.b3 = "This is var_tmp1 inside class BootcampX"

 class Datascience(BootcampX):
  BootcampY = "This is my third bootcamp inside class Data Science "
  def __init__(self):

    self.d1 = "This is my fouth bootcamp inside function __init__ of class b"
    self.d2 = "Instance variable in class Data Science"
    self.d3 = "This is var_tmp1 inside class Data Science"
    super().__init__()

    obj1= BootcampX ()
    obj2=DataScience()


print(obj1.b1)
print(obj1.b2)
print(obj1.b3)
print(obj2.d1)
print(obj2.d2)
print(obj2.d3)

TypeError: ignored

Thursday Aug 24

In [ ]:
print(10+12)

22

In [ ]:
print(3.1415 + 3.1415)

6.283

In [ ]:
print('python'+'programming')

pythonprogramming

In [ ]:
print([12,23,45]+[34,23,87])

[12, 23, 45, 34, 23, 87]

In [ ]:
Polymorphism

In [ ]:
l='python programming'
print(len(l))
l=

18

In [ ]:
###Overrride

class person: #parent class
  def__init__(self,fname,mname,lname):
    pass
    def printdetails(self):
      print(self.fname,self.mname,self.lname)

In [ ]:
class student(person): #child  class
  def__init__(self,fname,mname,lname):
    pass
    def printdetails(self):
      print(self.fname,self.mname,self.lname)

In [ ]:
##polymorphism: different class (car,boat,plane) same function(move), and same parameter(Brand,model)

class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [ ]:
##Overriding, Inheritance and polymorphism

class vehicle: ##parent class
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model

    def move(self): ## another function in same class
      print('move!')

##This is very importnat for interview. During interview write the code with muiltiple functionalties
##class vehicle overrides the vehicle and move to child class(car, and shows the move function as drive in output)
class Car(vehicle): ##child class
  def move(self):
    print("Drive!")

class Boat(vehicle):
  def move(self):
    print("Sail!")

class Plane(vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford","Mustang")     ## we create the objcet of class car
boat1 = Boat("Ibiza", "Touring 20") ##we create the objcet of class boat
plane1 = Plane("Boeing", "747")   ##  we create the objcet of class plane
for i in (car1,boat1,plane1): ## we are calling one by one class using for loop
  print(i.brand) # act as ovverride ( it override the brand function from parent class)
  print(i.model)
  i.move()

Ford
Mustang
Drive!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

In [ ]:

class fruit:
  def __init__(self,shape,color):
   self.shape=shape
   self.color=color
  def taste(self):
    print('taste')

class apple(fruit):
  def taste(self):
    print('sweet')

class orange(fruit):
  def taste(self):
    print('sour')

class mango(fruit):
  def taste(self):
    print('bitter')

apple1=apple('round','red')
orange1=orange('oval','green')
mango1=mango('long','yellow')

for i in(apple1,orange1,mango1):
  print(i.shape)
  print(i.color)
  i.taste()

round
red
sweet
oval
green
sour
long
yellow
bitter