In [ ]:
name="amrita"

print(name)

amritqqa

In [ ]:
##Python data type
#Integer
int1=1947
print(int1)
print(type(int1))

## Float
flt1=3.5
print(flt1)
print(type(flt1))

flt1=-3.5
print(flt1)
print(type(flt1))


###Complex number
cmpl1=2+3j
print(cmpl1)
print(type(cmpl1))

cmpl1=-2+3j
print(cmpl1)
print(type(cmpl1))


###Booleans
bol1=True
print(bol1)
print(type(bol1))


####String ( single quote)
str1='python programming'
print(str1)
print(type(str1))

### String (double quote)
str1="python programming"
print(str1)
print(type(str1))

##String (triple double quote)

str1="""python programming"""
print(str1)
print(type(str1))

##String( triple single quote)

str1='''python programming'''
print(str1)
print(type(str1))

str1="@!74574bchdg"
print(str1)
print(type(str1))



name="Amrita Sapkota"
print(name)
print(type(name))
address= ' I live in California'
print(address)


info1= """My name is 'Amrita'.I am taking Data analysis 'bootcamp'. I am excited for the 'class'"""
print(info1)
print(type(info1))



#####List
lst1=[12,243,67]
print(lst1)
print(type(lst1))

####Tuple
tup1=(1,2,3,4,5,6)
print(tup1)
print(type(tup1))


###Set
set1={'a','b','c','D','E','F',1,2,3,'!','@','%','a','b','c','D','E','F',1,2,3,'!','@','%'}
print(set1)


###
list1=[5,7,8,6,5,9,0]
print(list1)
print(type(list1))

tup1=(4,6,9,8,4,6,9)
print(tup1)
print(type(tup1))

set1={'a','python',True, False,3, 5 , '@','*', '$','a','python',3, 5, '@','*', '$',0}
print(set1)
print(type(set1))

str1=('hey', 'data', 'python', 'bootcamp')
print(str(1))

##Dictionary

dict1={'a':'apple',
       'b':'banana',
       'c':'cherry'
       }
print(dict1)
print(type(dict1))


####
dict_2={'food':'Momo',
       'country':'Nepal',
       'number': 28,
       'is tall': True,
       'value': '3,4,6',
       }
print(dict_2)



### To find the lenth of string
str1='a mrid hhsdjsdhd gsbhsdgh'
print(str1)
print(len(str1))

## to find the individual index
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[4])
print(str1[5])
print(str1[6])
print(str1[7])
print(str1[8])
print(str1[9])
print(str1[10])
print(str1[21])

##for every space , index will take a value.

##Slicing

str2='amritasapkotalivesincalifornia'
print(len(str2))
str2 [0:4:1],str2[5:10:2],str2[11:15:3],str2[1:6:4],str2[0:10:5]

1947
<class 'int'>
3.5
<class 'float'>
-3.5
<class 'float'>
(2+3j)
<class 'complex'>
(-2+3j)
<class 'complex'>
True
<class 'bool'>
python programming
<class 'str'>
python programming
<class 'str'>
python programming
<class 'str'>
python programming
<class 'str'>
@!74574bchdg
<class 'str'>
Amrita Sapkota
<class 'str'>
 I live in California
My name is 'Amrita'.I am taking Data analysis 'bootcamp'. I am excited for the 'class'
<class 'str'>
[12, 243, 67]
<class 'list'>
(1, 2, 3, 4, 5, 6)
<class 'tuple'>
{'b', 2, 3, 1, '!', '@', 'E', 'a', 'D', 'F', 'c', '%'}
[5, 7, 8, 6, 5, 9, 0]
<class 'list'>
(4, 6, 9, 8, 4, 6, 9)
<class 'tuple'>
{False, True, '@', 3, 5, '*', '$', 'python', 'a'}
<class 'set'>
1
{'a': 'apple', 'b': 'banana', 'c': 'cherry'}
<class 'dict'>
{'food': 'Momo', 'country': 'Nepal', 'number': 28, 'is tall': True, 'value': '3,4,6'}
a mrid hhsdjsdhd gsbhsdgh
25
a

m
r
i
d

h
h
s
d
s
30

('amri', 'aak', 'ti', 'ma', 'aa')

In [ ]:
str2='Amritasapkotalivesincalifornia'
str2[::]#(takes the default value)
str2[0::]
str2[::1]
str2[:len(str):]
str2[:9:]
str[9:18:]
str2[18:]

'Amritasapkotalivesincalifornia'

In [ ]:
str3='pythonbootcamp'
str3[::], str3[1::], str3[::3], str3[:len(str3):], str3[:10:],str3[3:7:],str3[13:]

('pythonbootcamp',
 'ythonbootcamp',
 'phbtm',
 'pythonbootcamp',
 'pythonboot',
 'honb',
 'p')

# New Section

# New Section

In [ ]:
#Thursday Aug 10
###String Slicing
str= "peppe prefer python Programing"
print(len(str))
str[:5], str[5:12],str[12:19],str[19:30]

#OR,
print(str[:5])
print(str[5:12])
print(str[12:19])
print(str[19:30])


###Negative slicing( index -ve)

str1="Amritasapkotalearnspython"
##str1[::1] ( (# Start from first to last)
#str1[::-1] (##Starts from last to first)

str= "peppe prefer python Programming"
print(str[-1:-12:-1])
print(str[-13:-19:-1])
print(str[-20:-26:-1])
print(str[-27:-31:1])

str1 = 'VenkataNarasimhaRajuvaripeta'
print(str1)
#print(type(str1))
#print(len(str1))
(str1[-1:-13:-1]),(str1[-14:-22:-1]),(str1[-23:-29:-1])

str1 = 'VenkataNarasimhaRajuvaripeta'

## Negative index and +ve slicing

#str1= "peppepreferpythonProgramming"
str1[-28:-23:1]

str1 = 'VenkataNarasimhaRajuvaripeta'
str1[-28:-21:1],str1[-21:-12:1],str1[-12::1]

###List
#lst1=['apple','banana','cherry','dates','eggfruit','grapes','icdefruit']
print(type(lst1))
lst1[0],lst1[1],lst1[2],lst1[3],lst1[4],lst1[5]
lst1[::]
lst1[::1]

#lst1=['Nepal','USA','Mexico','Germany','India','China','Canada','Russia','France','Brazil']
print(type(lst1))

30
peppe
 prefer
 python
 Programing
gnimmargorP
nohtyp
referp

VenkataNarasimhaRajuvaripeta
<class 'list'>
<class 'list'>

In [ ]:
lst1=['Nepal','USA','Mexico','Germany','India','China','Canada','Russia','France','Brazil']
print(type(lst1))
#lst1[0],lst1[1],lst1[2],lst1[3],lst1[4],lst1[5],lst1[6],lst1[7],lst1[8],lst1[9]
lst1[::]
print(lst1[3:7]) #positive indexing
print(lst1[-1:-5:-1]) # negative indexing
print(lst1[6:2:-1])# positive indexing negative slicing
print(lst1[-7:-3:]) # negative indexing positive slicing

<class 'list'>
['Germany', 'India', 'China', 'Canada']
['Brazil', 'France', 'Russia', 'Canada']
['Canada', 'China', 'India', 'Germany']
['Germany', 'India', 'China', 'Canada']